<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.CAN301.timemanager" >


    <!--We set theme to DarkTheme because when the app opens it shows
    a white screen if our theme here is LightTheme. The screen is shown for
    about 1 second, but it's jarring if users have set Night Mode to true.
    -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:theme="@style/CustomStyle.DarkTheme"
        >
        <activity
            android:name="com.example.CAN301.timemanager.Main.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.CAN301.timemanager.AddToDo.AddToDoActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.example.CAN301.timemanager.Main.MainActivity"
            />


        <service android:name="com.example.CAN301.timemanager.Utility.TodoNotificationService"
            />
        <service android:name="com.example.CAN301.timemanager.Utility.DeleteNotificationService"
            />
        <activity android:name="com.example.CAN301.timemanager.Settings.SettingsActivity"
            android:parentActivityName="com.example.CAN301.timemanager.Main.MainActivity"
            />
        <activity android:name=".Chart.ChartActivity"
            android:parentActivityName=".Main.MainActivity"
            />
        <activity android:name=".ChartShow.ShowWeekActivity"
            android:parentActivityName=".Chart.ChartActivity"
            />
        <activity android:name=".ChartShow.ShowMonthActivity"
            android:parentActivityName=".Chart.ChartActivity"
            />
        <activity android:name=".ChartShow.ChartShowActivity"
            android:parentActivityName=".Chart.ChartActivity"
            />

    </application>


</manifest>
